six
numpy>=1.21.5
pandas>=1.1.5
pillow>=9.0.1
pytz>=2021.3
torch>=1.7.1
torchvision>=0.8.2
timm>=0.6.11
scikit-learn>=1.0.3
scipy>=1.7.3
tqdm>=4.56.2
tyro>=0.5.5

# Additional dependencies required by TTAB that were missing:
gdown>=4.5.0
scikit-image>=0.18.3
wand>=0.6.10
opencv-python>=4.5.5.62

#Download https://imagemagick.org/script/download.php and add it to your path