six
numpy>=1.23.0
pandas>=1.1.5
pillow>=9.0.1
pytz>=2021.3
torch==2.0.1
torchvision==0.15.2
timm>=0.6.11
scikit-learn>=1.0.3
scipy>=1.7.3
tqdm>=4.56.2
tyro>=0.5.5
gdown>=4.5.0
scikit-image>=0.18.3
wand>=0.6.10